<a href="https://colab.research.google.com/github/Emmanuel-DS/Basic-Python-Refresher/blob/main/Py4DS%26MLBasicRefresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Basics Refresher for DS and ML

In [ ]:
#PEMDAS
(2 + 3) * (5 + 5)

50

In [ ]:
#Strings
"I don't like that"

"I don't like that"

In [ ]:
print("I don't like that") # Here no quotes when we used the print()

I don't like that

In [ ]:
print("My name is {}".format('Emmy'))

My name is Emmy

In [ ]:
print("My name is {}, my number is {}".format('Emmy', '23400'))

My name is Emmy, my number is 23400

In [ ]:
print("First: {x} second: {y}".format(x = 'Emmy', y = 'Ken')) #This helps to change argument easy as seen in the next example

First: Emmy second: Ken

In [ ]:
print("First: {y} second: {x}".format(x = 'Emmy', y = 'Ken'))

First: Ken second: Emmy

In [ ]:
"""Use .format() to print the following string: 'The diameter of Earth is 12742 kilometers'
planet = "Earth"
diametet = 12742
"""
planet = "Earth"
diameter = 12742

print("The diameter of {} is {} km" .format(planet, diameter))

The diameter of Earth is 12742 km

## List

In [ ]:
[1, 2, 3]

[1, 2, 3]

In [ ]:
['a', 'b', 'c']

['a', 'b', 'c']

In [ ]:
[1, 'abc']

[1, 'abc']

In [ ]:
my_list = ['a', 'b', 'c']
my_list[0]

'a'

In [ ]:
#To change item in a list or re-assign an object in a list
my_list[2] = "I just changed the third item"
my_list

['a', 'b', 'I just changed the third item']

In [ ]:
my_list.append('d') #Note the change of brackets from [] to ()
my_list

['a', 'b', 'I just changed the third item', 'd']

In [ ]:
my_list = [1, 2, 3, [100, 200]] #List nesting
my_list

[1, 2, 3, [100, 200]]

In [ ]:
my_list[3] #accessin the nested index

[100, 200]

In [ ]:
my_list[3][1] #access the element in the nested list

200

In [ ]:
#To remove something from the list
myList = [1, 2, 3, 4, 5]
last = myList.pop()
myList

[1, 2, 3, 4]

In [ ]:
last

5

In [ ]:
myList = [1, 2, 3, 4, 5] #to pop off any element in the list
myList.pop(2)

3

In [ ]:
myList

[1, 2, 4, 5]

In [ ]:
#To check if something is in the list or not
'x' in [1, 2, 3, 4, 5]

False

In [ ]:
1 in [1, 2, 3, 4]

True

In [ ]:
2 in myList

True

In [ ]:
# Given the nested list, use indexing to grab the word "Hello"

my_list = [1, 2, [3, 4], [5, [100, 200, ['Hello']], 23, 11], 1, 7]
my_list[3][1][2]

['Hello']

## Dictionaries

In [ ]:
# These uses curly notations/brackets{}. It has key-value pair. They do not have orders. Values can be accessed by it keys

d = {'key1':'value1', 'key2':'value2'}

In [ ]:
d['key1']

'value1'

In [ ]:
print(d)

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
d = {'k1':'v1', 'k2':'v2'}
d.keys()

dict_keys(['k1', 'k2'])

In [ ]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [ ]:
dict = {'k1': "cat", 'k2': "dog", 'k3': "mouse", 'k4': "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [ ]:
dict['k2']

'dog'

In [ ]:
#Adding k5 with parrot

dict['k5'] = "Parrot"
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'Parrot'}

In [ ]:
#Replacing k3 with goat
dict['k3'] = "Goat"
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'Goat', 'k4': 'fish', 'k5': 'Parrot'}

## Tuples

In [ ]:
# They are like a list but surrounded by parenthesis() instead of square[]. They are immutable. They cannot be changed
t = (1, 2, 3)
t[0]

1

In [ ]:
y = 50, 53, 56   #Tuple are the defauly in python
y

(50, 53, 56)

In [ ]:
x = (23, 34, 45)
x

(23, 34, 45)

In [ ]:
#Placing Tuple within list

list = [x, y]
list

[(23, 34, 45), (50, 53, 56)]

In [ ]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ('Area and Perimeter')
    return A, P
square_info(2)

Area and Perimeter

(4, 8)

In [ ]:
t[1] = "it is not possible to do. I will get a type error"

TypeError: 'tuple' object does not support item assignment

## Set

In [ ]:
#looks like dictionaries but do not have key-value pairs. Unordered collection of unique elements
{1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
{1,1,1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,4,4,4} # It reduces it to the main elements

{1, 2, 3, 4}

### if else elif

In [ ]:
if 1 == 2:
    print('right')
elif 3 == 3:
    print('second rule applies')
else:
    print('nope')

second rule applies

### For loop

In [ ]:
Items = [1, 2, 3, 4, 5]
for item in Items:
    print(item)

1
2
3
4
5

In [ ]:
Items = [1, 2, 3, 4, 5]
for item in Items:
    print('checking it out')

checking it out
checking it out
checking it out
checking it out
checking it out

In [ ]:
Items = [1, 2, 3, 4, 5]
for item in Items:
    print(item + item)

2
4
6
8
10

In [ ]:
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

for n in even:
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]   #Ordering in a single line

for n in even:
    print(n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [ ]:
x = [0, 1, 2, 3, 4]

for item in x:
    print(item, end = " ")

## While loop

In [ ]:
i = 1
while i < 5:
    print('i is {}'.format(i))
    i += 1

i is 1
i is 2
i is 3
i is 4

In [ ]:
x = 0

while x <= 20:
    print(x, end = " ")
    x += 2  #Incrementing the value by 2 on top of x

## Range

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(2,5))

[2, 3, 4]

In [ ]:
for x in range(5):
    print('Hi there')

Hi there
Hi there
Hi there
Hi there
Hi there

### List Comprehension

In [ ]:
x = [1, 2, 3, 4, 5]
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16, 25]

In [ ]:
#Alternatively
[num ** 2 for num in x]

[1, 4, 9, 16, 25]

### Functions

In [ ]:
def my_func():
    print('hi')

In [ ]:
my_func()

hi

In [ ]:
def my_func(name):
    print('hello '+ name)

In [ ]:
my_func('Emmy')

hello Emmy

In [ ]:
def square(x): #print displays the actual value while Return allows you to save your object to a variable
    return x**2 #print has parenthesis while return does not have parenthese. Print does not return anything while return
                #does not print anything
square(4)

16

In [ ]:
#say Jonny's mummy told him she will give him extra $10 if he has saved $100 by the end of the week but $0 if nothing is saved

def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "save more!"
add_10(110)

120

In [ ]:
add_10(50)

'save more!'

In [ ]:
result = square(2)
result

4

In [ ]:
#Lambda Expression in functions
def times_two(var):
    return var*2

In [ ]:
times_two(10)

20

In [ ]:
#Alternatively coverting a function to a lambda expression
lambda var: var*2

In [ ]:
""" Create a function that grabs the email website domain from a string in the form:
user@domain.com
"""
def domain_get(email):
    return email.split("@")[-1]

In [ ]:
domain_get('user@domain.com')

'domain.com'

In [ ]:
def find_dog(st):
    return 'dog' in st.lower().split()

In [ ]:
find_dog('Is there a dog here?')

True

In [ ]:
"""Create a function that counts the number of times the word "dog" occur in a string.
"""
def count_dog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count
count_dog('This dog runs faster than the other dog dude!')

2

In [ ]:
"""You are driving a little too fast and a police stops you. Write a function to return one of the 3 possble results.
if your speed is 60 or less: "No ticket"
if your speed is 61 and 80 inclusive: "Small ticket"
if your speed is 81 or more: "Big ticket"
Unless it is your birthday, your speed can be 5 higher in all cases
"""

'You are driving a little too fast and a police stops you. Write a function to return one of the 3 possble results.\nif your speed is 60 or less: "No ticket"\nif your speed is 61 and 80 inclusive: "Small ticket"\nif your speed is 81 or more: "Big ticket"\nUnless it is your birthday, your speed can be 5 higher in all cases\n'

In [ ]:
def caught_speeding(speed, is_myBirthday):
    
    if is_myBirthday:
        speeding = speed - 5
    else:
        speeding = speed
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'no ticket'

In [ ]:
caught_speeding(81, True)

'Small Ticket'

In [ ]:
caught_speeding(81, False)

'Big Ticket'

## Strings methods

In [ ]:
st = ('The Lord id Good all the Time')

In [ ]:
st.upper()

'THE LORD ID GOOD ALL THE TIME'

In [ ]:
st.lower()

'the lord id good all the time'

In [ ]:
st.split()

['The', 'Lord', 'id', 'Good', 'all', 'the', 'Time']

In [ ]:
tweet = 'Hello #ChristianBrethren'

In [ ]:
tweet.split()

['Hello', '#ChristianBrethren']

In [ ]:
tweet.split('#')

['Hello ', 'ChristianBrethren']

In [ ]:
tweet.split('#')[-1]

'ChristianBrethren'